logger.dtd

<!ELEMENT address ( byte+ ) >

<!ELEMENT byte ( #PCDATA ) >

<!ELEMENT conversion ( metric ) >

<!ELEMENT logger ( protocols ) >

<!ELEMENT metric EMPTY >
<!ATTLIST metric expr CDATA #REQUIRED >
<!ATTLIST metric format ( 0 | 0.0 | 0.00 ) #REQUIRED >
<!ATTLIST metric units CDATA #REQUIRED >

<!ELEMENT parameter ( address, conversion ) >
<!ATTLIST parameter desc CDATA #REQUIRED >
<!ATTLIST parameter id CDATA #REQUIRED >

<!ELEMENT parameters ( parameter+ ) >

<!ELEMENT protocol ( parameters*, switches* ) >
<!ATTLIST protocol id CDATA #REQUIRED >

<!ELEMENT protocols ( protocol+ ) >

<!ELEMENT switch EMPTY >
<!ATTLIST switch filelogcontroller ( yes | no ) #IMPLIED >
<!ATTLIST switch bit ( 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #REQUIRED >
<!ATTLIST switch byte CDATA #REQUIRED >
<!ATTLIST switch desc CDATA #REQUIRED >
<!ATTLIST switch id CDATA #REQUIRED >

<!ELEMENT switches ( switch+ ) >
