logger.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT byte ( #PCDATA ) >

<!ELEMENT ecu ( byte+ ) >
<!ATTLIST ecu id CDATA #REQUIRED >

<!ELEMENT address ( ecu+ | byte+ ) >

<!ELEMENT ref EMPTY >
<!ATTLIST ref ecuparam CDATA #IMPLIED >
<!ATTLIST ref parameter IDREF #IMPLIED >

<!ELEMENT depends ( ref+ ) >

<!ELEMENT conversion EMPTY >
<!ATTLIST conversion expr CDATA #REQUIRED >
<!ATTLIST conversion format ( 0 | 0.0 | 0.00 ) #REQUIRED >
<!ATTLIST conversion storagetype ( uint8 | uint16 | float ) #IMPLIED >
<!ATTLIST conversion units CDATA #REQUIRED >

<!ELEMENT conversions ( conversion+ ) >

<!ELEMENT parameter ( ( address | depends ), conversions ) >
<!ATTLIST parameter ecubit ( 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #IMPLIED >
<!ATTLIST parameter ecubyteindex CDATA #IMPLIED >
<!ATTLIST parameter desc CDATA #REQUIRED >
<!ATTLIST parameter name CDATA #REQUIRED >
<!ATTLIST parameter id ID #REQUIRED >

<!ELEMENT parameters ( parameter+ ) >

<!ELEMENT switch EMPTY >
<!ATTLIST switch bit ( 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #REQUIRED >
<!ATTLIST switch byte CDATA #REQUIRED >
<!ATTLIST switch desc CDATA #REQUIRED >
<!ATTLIST switch name CDATA #REQUIRED >
<!ATTLIST switch id ID #REQUIRED >

<!ELEMENT switches ( switch+ ) >

<!ELEMENT ecuparam ( address, conversions ) >
<!ATTLIST ecuparam desc CDATA #REQUIRED >
<!ATTLIST ecuparam name CDATA #REQUIRED >
<!ATTLIST ecuparam id ID #REQUIRED >

<!ELEMENT ecuparams ( ecuparam+ ) >

<!ELEMENT protocol ( parameters?, switches?, ecuparams? ) >
<!ATTLIST protocol id ID #REQUIRED >

<!ELEMENT protocols ( protocol+ ) >

<!ELEMENT logger ( protocols ) >
